# npm
npm-debug.log

# node_modules save (for build script)
*.save

# debian package generation
*.dsc
*.tar.gz
*.tar.xz
*.deb
*.build
*.changes
*.debhelper.log
*.substvars
*.buildinfo
debhelper-build-stamp
files
htest-server/debian/htest-server

# emacs
*~
.#*

# autoenv github.com/kennethreitz/autoenv
.env*
