[Unit]
Description=Hardware tester web server
Requires=network.target
Requires=mongodb.service
After=network.target
After=mongodb.service

[Service]
Type=simple
Restart=always
ExecStart=/usr/bin/node /usr/share/htest-server/index.js

[Install]
WantedBy=multi-user.target
